$bg-color:black;
$font-color:#fff;
$primary-color:#008ed6;
$icon-size:30px;

#home-section{
  background-image: url("../img/paint.jpg");
  color:$font-color;
  
   height: 100%; 

  
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 1;
}


.navbar{
  opacity: 1;
}
.navbar.solid{
  background-color:#343A40;
  height: 60px;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

#home-section{
 min-height:700px;


 .home-inner{
   padding-top:275px;
   padding-bottom:130px;
 }
}


 #whatwedo{
  background-image: url("../img/grey.jpg");
  padding-top:50px;
  padding-bottom:100px;
 }

//  #client{
//   background-image: url("../img/grey.jpg");
//   padding-top:50px;
//   padding-bottom:130px;
//  }
 
 #footer{
  background-image: url("../img/contact1.jpg");
background-size:cover;
  padding-top:20px;
  padding-bottom:60px;
 }


.p-b-10{
  padding-bottom: 10px;
}
.col-lg-6{
  width: 20%;
}

.fa{
  font-size: 110px;
}

#client {
  .fab{
  font-size: 110px;

}


}
#footer{
.fab{
  font-size: 30px;
}
.fas{
  font-size: 30px;
}
}



.fa-upload {
  color:black;
}

.fa-paint-brush {
  color:black;
}
.fa-tripadvisor {
  color:green;
}
.fa-facebook{
  color:darkblue;
}
.fa-bitcoin{
  color:gold;
}


  

